<html>
<head>
<link href='css/reset.css' type='text/css' rel='stylesheet'>
<link href='css/layout.css' type='text/css' rel='stylesheet'>
<link href='css/kokanban.css' type='text/css' rel='stylesheet'>
<script src="js/jquery-1.6.1.min.js" type="text/javascript"></script>
<script src="js/jquery.tmpl.js" type="text/javascript"></script>
<script src="js/jquery.timeago.js" type="text/javascript"></script>
<script src="js/knockout-1.2.1.js" type="text/javascript"></script>
</head>
<body>
<div id='header'>
  <div id='user'>Welcome <%= session['user'] %></div>
  <div id='logout'>
    <a href="/logout">Logout</a>
  </div>
</div>
<div id='newfeature'>
  <form data-bind="submit: addFeature">
    <label>New Feature: </label>
    <input id="newFeature" class='newFeature' />
  </form>
</div>
<table border=1>
  <tr data-bind="template: {
    name: 'statuses',
    foreach: statuses }"></tr>
</table>
<!-- Templates -->

<script id="statuses" type="text/html">
<td>
<h2>
<span data-bind="text: $data"></span>
(<span data-bind="text: viewModel.filterByStatus()[$data].length"></span>)
</h2>
<div data-bind="template: { name: 'features', foreach: viewModel.filterByStatus()[$data], afterAdd:  function(elem) { $(elem).hide().fadeIn(2000) } }">
</div>
</td>
</script>

<script id="features" type="text/html">
<div class='feature' data-bind="attr:{ 'class': state }">
  <a class="showComment" data-bind="text: title, click: function(e) { showDetails(e) }" />
  <div class="details" data-bind="visible: false">
    <select data-bind="options: states, value: state" />
    <form data-bind="submit: updateFeature">
      <input id="newComment" class='newComment' />
    </form>
    <div class="comments" data-bind="template: {name: 'comments', foreach: $data.comments}" />
  </div>
  <div class="swim">
    <a data-bind="click: swimBackward, visible: canSwimBackward" class="swim"><--</a>
    <a data-bind="click: swimForward, visible: canSwimForward" class="swim">--></a>
  </div>
</div>
</script>
<script id='comments' type="text/html">
<div class="comment">
<em data-bind="text: user" />
<span data-bind="text: datestamp" /><br />
<span data-bind="text: comment" />
</div>
</script>
<table id='readme'>
  <tr>
    <td>
      <h3>DONE</h3>
      <ul>
        <li>Add 'new feature'</li>
        <li>Swim feature between statuses</li>
        <li>Click on feature to display comments</li>
        <li>Change state of feature </li> 
        <li>Changing state changes color of card</li>
        <li>Add a comment</li>
        <li>Changing status or state of feature inserts a comment</li>
        <li>login</li>
        <li>Displaying timestamps using http://timeago.yarp.com/</li>
        <li>Mark 'who' made a change</li>
      </ul>
    </td><td>
      <h3>TODO</h3>
      <ul>
        <li>Mark feature 'Done'</li>
        <li>ajax progress indicator</li>
        <li>Assign points</li>
        <li>reset state to 'ready' when changing status</li>
        <li>Authentication (google?)</li>
        <li>Display cycle time</li>
        <li>Seperate 'backlog' vs 'in progress' boards</li>
        <li>Tests</li>
        <li>Push server (websockets, nowjs, ?)</li>
        <li>Sort features</li>
        <li>filter by state e.g. show impeded</li>
      </ul>
    </td><td>
      <h3>NOTE</h3>
      <ul>
        <li><a href="http://colorschemedesigner.com/#3l51Tw0w0w0w0">color scheme</a></li>
        <li>Light Blue: #03899C</li>
        <li>Dark Blue: #133AAC</li>
        <li>Green: #00C322</li>
      </ul>
    </td>
  </tr>
</table>
<!-- Code -->
<script src="js/kokanban.js" type="text/javascript"></script>
<script src="js/seed.js" type="text/javascript"></script>
</body>
</html>
