<html>
<head>
<link href='css/reset.css' type='text/css' rel='stylesheet'>
<link href='css/layout.css' type='text/css' rel='stylesheet'>
<link href='css/kokanban.css' type='text/css' rel='stylesheet'>
<link href='css/smoothness/jquery-ui-1.8.14.custom.css' type='text/css' rel='stylesheet'>
<script src="js/jquery-1.6.1.min.js" type="text/javascript"></script>
<script src="js/jquery.tmpl.js" type="text/javascript"></script>
<script src="js/jquery-ui.min.js" type="text/javascript"></script>
<script src="js/jquery.timeago.js" type="text/javascript"></script>
<script src="js/knockout-1.2.1.js" type="text/javascript"></script>
</head>
<body>
<div id="dialog-progress">
  <img id="dialog-progress" src="/img/loading.gif" />
</div>
<div id='header' class="container">
  <div class="left" id='user'>Welcome <%= session['user'] %></div>
  <div class="right" id='logout'>
    <a href="/logout">Logout</a>
  </div>
  <div id='pagetitle'>rbKanban</div>
</div>
<div id='newfeature' class="container">
  <form data-bind="submit: addFeature">
    <label>New Feature: </label>
    <input id="newFeature" class='newFeature' />
  </form>
</div>
<table border=1>
  <tr data-bind="template: {
    name: 'statuses',
    foreach: statuses }"></tr>
</table>
<!-- Templates -->

<script id="statuses" type="text/html">
<td>
<h2>
<span data-bind="text: $data"></span>
(<span data-bind="text: viewModel.filterByStatus()[$data].length"></span>)
</h2>
<div class="container features" data-bind="template: { name: 'features', foreach: viewModel.filterByStatus()[$data], afterAdd:  function(elem) { $(elem).hide().fadeIn(2000) } }">
</div>
</td>
</script>

<script id="features" type="text/html">
<div data-bind="attr:{ 'class': state }">
  <span class="points" data-bind="text: points" />
  <a href="#" class="title" data-bind="text: title, click: function(e) { showDetails(e) }" />
  <div class="lastcomment">
    <em data-bind="text: lastcomment().user" />
    <span data-bind="text: lastcomment().datestamp" /><br />
    <span data-bind="text: lastcomment().comment" />
  </div>
  <div class="details" data-bind="visible: false">
    <div class="swim">
      <a href="#" data-bind="click: swimBackward, visible: canSwimBackward" class="swim"><--</a>
      <a href="#" data-bind="click: swimForward, visible: canSwimForward" class="swim">--></a>
    </div>
    <form data-bind="submit: addComment">
      <textarea id="newComment" class='newComment' />
      <button class="newComment" type="submit">Add Comment</button>
    </form>
    <select data-bind="options: pointss, value: points.edit" />
    <select data-bind="options: states, value: state.edit" />
    <a class="complete" data-bind="click: completion">Complete</a> 
    <div class="comments" data-bind="template: {name: 'comments', foreach: $data.comments}" />
  </div>
</div>
</script>
<script id='comments' type="text/html">
<div class="comment">
<em data-bind="text: user" />
<span data-bind="text: datestamp" /><br />
<span data-bind="text: comment" />
</div>
</script>
<table id='readme'>
  <tr><td colspan="3"><a href="https://github.com/arafatm/rbkanban">Get the Source Code</a>
  </tr>
  <tr>
    <td>
      <h3>DONE</h3>
      <ul>
        <li>8/17 Assign points</li>
        <li>8/17 reset state to 'ready' when changing status</li>
        <li>8/17 Why is ajax dialog-progress not displaying on initial page load</li>
        <li>8/17 ajax progress indicator</li>
        <li>8/16 Mark feature 'Done'</li>
        <li>Mark 'who' made a change</li>
        <li>Displaying timestamps using http://timeago.yarp.com/</li>
        <li>login</li>
        <li>Changing status or state of feature inserts a comment</li>
        <li>Add a comment</li>
        <li>Changing state changes color of card</li>
        <li>Change state of feature </li> 
        <li>Click on feature to display comments</li>
        <li>Swim feature between statuses</li>
        <li>Add 'new feature'</li>
      </ul>
    </td><td>
      <h3>TODO</h3>
      <ul>
        <li>Refactor Feature.new to pass named properties</li>
        <li>Refactor Feature functions to emulate state.edit</li>
        <li>Seperate 'backlog' vs 'in progress' boards</li>
        <li>Authentication (google?)</li>
        <li>Display cycle time</li>
        <li>Tests</li>
        <li>Push server (websockets, nowjs, ?)</li>
        <li>Sort features</li>
        <li>filter by state e.g. show impeded</li>
      </ul>
    </td><td>
      <h3>NOTE</h3>
      <ul>
        <li><a href="http://colorschemedesigner.com/#3l51Tw0w0w0w0">color scheme</a></li>
        <li>Light Blue: #03899C</li>
        <li>Dark Blue: #133AAC</li>
        <li>Green: #00C322</li>
      </ul>
    </td>
  </tr>
</table>
<!-- Code -->
<script src="js/kokanban.js" type="text/javascript"></script>
<script src="js/seed.js" type="text/javascript"></script>
</body>
</html>
