<html>
<head>
<link href='css/reset.css' type='text/css' rel='stylesheet'>
<link href='css/layout.css' type='text/css' rel='stylesheet'>
<link href='css/kokanban.css' type='text/css' rel='stylesheet'>
</head>
<body>
<form id="login" name="login" action="/login" method="POST">
  <label for="user">Name: </label>
  <input id="user" name="user" type="text" />
</form>
<div>
  This app doesn't authenticate. Put in any name with length > 3
</div>
</body>
</html>
