<html>
<head>
<link href='css/reset.css' type='text/css' rel='stylesheet'>
<link href='css/layout.css' type='text/css' rel='stylesheet'>
<link href='css/kokanban.css' type='text/css' rel='stylesheet'>
</head>
<body>
<form name="login" action="/login" method="POST">
  <label for="login">Name: </label>
  <input id="login" name="login" type="text" />
</form>
</body>
</html>
