/* Basic elements */
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #0D0D0D;
  color: #FBFBFB;
  font-family: "Trebuchet MS", Arial, Helvetica, "Sans Serif"; 
}
em {
  font-weight: 900;
}
a {
  text-decoration: none;
}
div {
  font-family: "Trebuchet MS", Arial, Helvetica, "Sans Serif"; 
  font-size: 14px;
 }

 h2 {
   font-size: 120%;
   font-weight: 900;;
   border-bottom: 1px solid black;
   margin-bottom: 1ex;
   text-align: center;
 }
 table {
   border-collapse: collapse;
   width: 100%;
   margin: 0em;
   background-color: #0D0D0D;
   color: #FBFBFB;
 }
 table td {
   margin: 0;
   padding: 0.5%;
   border: 1px solid black;
   width: 20%;
 }
 /* Structural Elements */
 div.container {
   display: block;
 }
 div.right {
   float: right;
   margin-right: 1em;
 }
 div.left {
   float: left;
   margin-left: 1em;
 }
 /* Dialog */
 div#dialog-progress {
   display: none;
   position: absolute;
   left: 0px;
   top: 0px;
   width:100%;
   height:100%;
   text-align:center;
   padding: 5em;
   z-index: 1000;
   background-color:rgba(150,150,150,0.5);
 }
 /* HEADER */
 div#header {
   background-color: #0D0D0D;
   color: #FBFBFB;
   padding: 5px 1em;
   margin: 0;
   text-align: center;
 }
 div#header div#logout a {
   color: #FBFBFB;
 }
 /* New Feature */
 div#newfeature {
   background-color: #B51B03;
   color: #FBFBFB;
   padding: .5em 2em;
 }
 div#newfeature label {
   text-align: right
   padding-left: 3em;
 }
 div#newfeature input#newfeature {
   width: 85%;
 }
 /* Board */
 a.title {
   color: #FBFBFB;
 }
 div.Impeded {
   border-left: 1em solid #B51B03;
 }
 div.Progress {
   border-left: 1em solid #84A534;
 }
 div.Ready {
   border-left: 1em solid #0390A4;
 }
 div.features {
   display: block;
 }
 div.features>div {
   margin: 0em 0em 1em 0em;
   padding: 1%;
   background-color: #323232;
 }
 div.feature div.summary {
   display: block;
   margin-bottom: 1ex;
 }
 div.lastcomment {
   border-top: 1px solid black;
   margin-top: 1ex;
   padding-top: 1ex;
   width: 100%;
 }
 div.comment {
   margin-top: 5px;
   border-bottom: 1px solid black;
 }
 div.swim {
   display: block;
   text-align: center;
 }
 span.points {
   font-weight: 900;
   margin-right: .5em;
   text-decoration: underline;
 }
 a.complete {
   background-color: #0D0D0D;
   border: 1px solid black;
 }
 a.swim {
   color: blue;
   font-size: 120%;
   margin: 0em 1em;
 }
 textarea.newComment {
   width: 100%;
   height: 15em;
 }
 button.newComment {
   width: 100%;
 }
 /* README */
 div#readme {
   background-color: #B51B03;
   color: #FBFBFB;
   padding: 1em;
   font-weight: 900;
 }
 div#readme a {
   color: #FBFBFB;
 }
 table#readme h3 {
   margin: 1em;
   font-weight: 900;
   font-size: 120%;
 }
 table#readme ul {
   list-style-type: disc;
   margin-left: 1em;
   padding-left: 1em;
 }
 /* Login */
 form#login {
   margin: 3em;
 }
