em {
  font-weight: 900;
}
div {
  font-family: Arial;
  font-size: 14px;
 }

 h2 {
   font-size: 120%;
   font-weight: 900;;
   border-bottom: 1px solid black;
   margin-bottom: 1em;
   text-align: center;
 }
 table {
   border-collapse: collapse;
   width: 100%;
   margin: 0em;
   background-color: #5FC0CE;
   color: #000;
 }
 table td {
   margin: 0;
   padding: 10px;
   border: 1px solid black;
   width: 20%;
 }
 div.Impeded {
   background-color: #F00;
   border: 1px solid black;
   margin: 1em 0;
   padding: 5px;
 }
 div.Progress {
   background-color: #0F0;
   border: 1px solid black;
   margin: 1em 0;
   padding: 5px;
 }
 div.Ready {
   background-color: #FFF8D7;
   border: 1px solid black;
   margin: 1em 0;
   padding: 5px;
 }
 div.feature {
   border: 1px solid black;
   margin: 1em 0;
   padding: 5px;
   background-color: #FFF8D7;
 }
 div.comment {
   margin-top: 5px;
 }
 div.swim {
   text-align: center;
 }
 a.swim {
   color: blue;
   font-size: 120%;
   margin: 0em 1em;
 }
 a.showComment {
   clear: both;
 }
 input.newComment {
   width: 100%;
 }
 /* README */
 div#readme h3 {
   margin: 1em;
   font-weight: 900;
   font-size: 120%;
 }
 div#readme ul {
   list-style-type: disc;
   margin-left: 1em;
   padding-left: 1em;
 }
 /* HEADER */
 div#header {
   background-color: #03889C;
   color: #FFF;
   padding: 2em;
 }
 div#header div#user {
   float: left;
 }
 div#header div#logout {
   float: right;
 }
 div#header div#logout a {
   color: #FFF;
 }
 /* New Feature */
 div#newfeature {
   background-color: #00C322;
   color: #FFF;
   padding: 1em;
 }
 div#newfeature input#newfeature {
   width: 50%;
 }
